/*photoshop color scheme
red: e93e17
blue: 1d43ef
light blue: b2eef3
orange: f5ac1c
*/



body{
    background-color: #b2eef3;
}

p{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 500px;
    margin: auto;
    border: #1d43ef;
    border-width: 2px;
    padding: 2px
}

header{
    width: 300px;
    font-family: 'Rubik Vinyl', cursive;
    height: 75 px;
    color: white;
    text-decoration: none;
    position: fixed;
    left: 5px; 
    top: 5px; 

}

nav{
    background-color: #b2eef3;
    width: 300px;
    top: 350 px;
    left: 20px;
    font-family: 'Rubik Vinyl', cursive;
    position: fixed;
}

main{
    width: 800px;
    margin-left: 350px;
    background-color: white;
}

#welcometomyfeed{
    height: 60px;
    width: 290px;
    background-color: #1d43ef;
    font-family: 'Rubik Vinyl', cursive;
    color: white;
    padding: 5px;
    position: fixed;
}

#thefeedstarts{
    font-family: 'Rubik Vinyl', cursive;
    color: #1d43ef;
    border-style: solid;
    border-color: #f5ac1c;
    border-width: 5px;
    width: 300px;
    text-align: center;
}

footer{
    width: 300px;
    background-color: #f5ac1c;
    height: 50px;
    color: black;
    font-family: 'Rubik Vinyl', cursive;
    position: fixed;
    bottom: 5px; 
    left: 5px; 
}


.centeredimg{
    margin-left: 250px;
    
}
.centeredimg:hover{
    background-color: #e93e17;
}

#snakeeating{
    margin-top: 100px;
    margin-left: 30%;
}

#snakeeating:hover{
    background-color: #e93e17;
}

#indexheader:hover{
    background-color: #e93e17;
}